.credit-card-add_card-wrapper
  .credit-content
    .credit-content__item
      %h2.credit-content__item__title
        支払い方法
      .payment__main
        .payment__list
          .payment__list__content
            %h3.sub__head クレジットカード一覧
        .add__card
          .payment__list__content
            -# = link_to credit_card_path(current_user.id), class: "red__btn" do
            = link_to new_credit_card_path(current_user), class: "red__btn" do
              %i
              = icon('fas', 'credit-card', class: "card__icon")
              クレジットカードを追加する
        .how__not__regist
          = link_to user_path(current_user) do
            戻る
          = link_to "支払い方法について" 
