@mixin input_form{
  margin-top: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
  padding: 7px 30px 7px 10px;
  font-size: inherit;
  line-height: 1.1em;
  border-radius: 3px;
  border: 1px solid $lightgray;
  background-image: url("sozai-08.png");
  background-color: $white;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 10px center;
  outline: none;
}

.exhibition-wrapper {
  height: 100%;
  background-color: #f2f2f2;
  .exhibition-header {
    .exhibition-header__icon {
      padding: 25px 0 25px 0;
      text-align: center;
      img {
        width: 180px;
      }
    }
  }
  .exhibition-contents {
    .item-edit-title{
      font-size: 22px;
      padding: 32px 16px;
      width: 650px;
      margin: 0 auto;
      text-align: center;
      background-color: $white;
      border-width: 1px;
      border-bottom-style: solid;
      border-color: rgb(204, 204, 204);
      font-weight: 550;

    }
    .exhibition-content__caption {
      max-width: 650px;
      height: 40%;
      padding: 40px;
      margin: 0 auto;
      border-width: 1px;
      border-bottom-style: solid;
      border-color: rgb(204, 204, 204);
      background-color: $white;
      &--title {
        label {
          font-size: 14px;
          font-weight: 600;
          background-color:$white;
        }
        span {
          padding: 1.5px 4px;
          font-size: 12px;
          font-weight: 600;
          color: $white;
          background-color: red;
        }
      }
      .exhibition-content__caption--text {
        margin: 16px 0 16px 0;
        font-size: 14px;
      }
      .exhibition-content__caption--image--box {
        display: flex;
        flex-direction: row;
        .exhibition-content__caption--image{
          height:23vh;
          border-width: 1px;
          border-style: dashed;
          border-color: rgb(204, 204, 204);
          border-image:initial;
          background-color: #f2f2f2;
          text-align: center;
          cursor: pointer;
          width: 100%;
          .fa-camera{
            padding: 45px 0 8px;
            font-size: 20px;
          }
        }
        .input_box{
          display: none; 
         }
        .file_choice_default{
          display: none;
        }
        .item-image{
          height: 23vh;
          text-align: center;
          background-color: #f2f2f2;
          width: 20%;
          .item-image__content{
            display: flex;
            align-items: center;
            height: calc(100% - 20px);
            border-width: 1px;
            border-style: dashed;
            border-color: rgb(204, 204, 204);
            border-image:initial;
          }
          .item-image__operation{
            height: 20px;
            font-size: 12px;
            border-width: 1px;
            border-style: dashed;
            border-color: rgb(204, 204, 204);
            border-image:initial;
            &--delete{
              text-decoration: none;
              color: #0099FF;
              cursor: pointer;
            }
          }
        }
      }
      .images--empty{
        color: red;
        padding-top: 20px;
      }
    }
    .exhibition-content__product {
      max-width: 650px;
      height: 50%;
      padding: 40px;
      margin: 0 auto;
      background-color: $white;
      border-width: 1px;
      border-bottom-style: solid;
      border-color: rgb(204, 204, 204);
      &--name{
        label {
          font-size: 14px;
          font-weight: 600;
        }
        span {
          padding: 1.5px 4px;
          font-size: 12px;
          font-weight: 600;
          color: $white;
          background-color: red;
        }
        &--form {
          padding-top: 15px;
          .exhibition__product--name {
            border: 1px solid $lightgray;
            border-radius: 4px;
            box-sizing: border-box;
            font-family: inherit;
            font-size: inherit;
            height: 48px;
            margin: 0 0 20px 0;
            outline: none;
            padding: 0 16px;
            width: 100%;
          }
        }
      }
      .product_name--empty{
        color: red;
        padding-bottom: 20px;
      }
      .exhibition-content__product--description{
        padding-top: 20px;
        .exhibition-content__product--description--title{
          label {
            font-size: 14px;
            font-weight: 600;
          }
          span {
            padding: 1.5px 4px;
            font-size: 12px;
            font-weight: 600;
            color: $white;
            background-color: red;
          }
        }
        .exhibition-content__product--description--form{
          .exhibition--description--text {
            border: 1px solid $lightgray;
            border-radius: 4px;
            outline: none;
            display: block;
            width: 100%;
            margin-top: 15px; 
            padding: 13px 16px;
          }
          .exhibition--description--text--counter {
            text-align: end;
            .counter {
              font-size: 8px;
              font-weight: 500;
              color: black;
              background-color: $white;
            }
            .count_over{
              color: red;
            }
          }
        }
        .product_information--empty{
          color: red;
          padding-bottom: 20px;
        }
        .exhibition-content__product--description--alert{
          color: red;
          height: 48px;
          line-height: 48px;
        }
      }
    }

    .exhibition-content__details {
      max-width: 650px;
      height: 50%;
      padding: 40px;
      margin: 0 auto;
      background-color: $white;
      border-width: 1px;
      border-bottom-style: solid;
      border-color: rgb(204, 204, 204);
      &--heading {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 24px;
        color: gray
      }
          label {
            padding-right: 6px;
            font-size: 14px;
            font-weight: 600;
          }
          span {
            padding: 1.5px 4px;
            font-size: 12px;
            font-weight: 600;
            color: $white;
            background-color: red;
          }
      &--category{
        &--form{
          margin-top: 10px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 100%;
          height: 48px;
          margin-bottom: 20px;
          padding: 7px 30px 7px 10px;
          font-size: 93%;
          line-height: 1.1em;
          border-radius: 3px;
          border: 1px solid $lightgray;
          background-image: url("sozai-08.png");
          background-color: $white;
          background-repeat: no-repeat;
          background-size: 20px;
          background-position: right 10px center;
        }
      }
      .parent_category--empty{
        color: red;
        padding-bottom: 20px;
      }
      .child_category--empty{
        color: red;
        padding-bottom: 20px;
      }
      .grandchild_category--empty{
        color: red;
        padding-bottom: 20px;
      }
      .exhibition-content__details--brand{
        .exhibition-content__details--brand--form{
          @include input_form
        }
      }
      .brand {
          background-color: $lightgray;
        }
      &--Status{
        &--form{
          .product_condition--form{
          @include input_form
          }
        }
        .product_condition--empty{
          color: red;
          padding-bottom: 20px;
        }
      }

    }
    .exhibition-content__delivery {
      max-width: 650px;
      height: 50%;
      padding: 40px;
      margin: 0 auto;
      background-color: $white;
      border-width: 1px;
      border-bottom-style: solid;
      border-color: rgb(204, 204, 204);
      &--heading {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 24px;
        color: gray
      }
        .far {
          color: #0095ee;
        }
        label {
          padding-right: 6px;
          font-size: 14px;
          font-weight: 600;
        }
        span {
          padding: 1.5px 4px;
          font-size: 12px;
          font-weight: 600;
          color: $white;
          background-color: red;
        }
      &--burden--form{
        .shipping_charge--form{
          @include input_form
        }
      }
      .shipping_charge--empty{
        color: red;
        padding-bottom: 20px;
      }
      &--area--form{
        .shipping_area--form{
          @include input_form
        }
      }
      .prefecture_id--empty{
        color: red;
        padding-bottom: 20px;
      }
      &--days--form{
        .days_of_ship--form{
          @include input_form
        }
      }
      .days_of_ship--empty{
        color: red;
        padding-bottom: 20px;
      }
    }
    .exhibition-content__price {
      max-width: 650px;
      height: 60%;
      padding: 40px;
      margin: 0 auto;
      background-color: $white;
      border-width: 1px;
      border-bottom-style: solid;
      border-color: rgb(204, 204, 204);
      &--heading {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 24px;
        color: gray
      }
        .far {
          color: #0095ee;
        }
      &--selling{
        &--title {
          padding-bottom: 20px;
          line-height: 50px;
          label {
            padding-right: 6px;
            font-size: 14px;
            font-weight: 600;
          }
          .selling-span {
            padding: 1.5px 4px;
            font-size: 12px;
            font-weight: 600;
            color: $white;
            background-color: red;
          }
          .exhibition-content__price--selling--unity {
            float: right;
            .price--form{
              width: 270px;
              height: 48px;
              padding: 0 16px;
              border: 1px solid $lightgray;
              border-radius: 4px;
              text-align: end;
              outline: none;
            }
          }
          .price--error{
            color: red;
            padding-bottom: 20px;
            text-align: right;
          }
        }
        .exhibition-content__price--fee {
          line-height: 48px;
          padding: 10px 0;
          border-bottom: 1px solid rgb(204, 204, 204);
          display: flex;
          justify-content: space-between;
        }
        .exhibition-content__price--revenue {
          line-height: 48px;
          padding: 10px 0;
          display: flex;
          justify-content: space-between;
        }
        .exhibition-content__price--listing {
          padding-top: 30px;
          line-height: 48px;
          text-align: center;
          display: flex;
          justify-content: center;
          .button {
            width: 53%;
            height: 48px;
            margin-bottom: 24px;
            font-size: 17px;
            font-weight: 600;
            border: 1px solid $lightgray;
            border-radius: 4px;
            color: $white;
            background-color: red;
            cursor: pointer;
          }
        }
        .exhibition-content__price--return {
          line-height: 48px;
          text-align: center;
          button {
            width: 53%;
            height: 48px;
            padding: 0 24px;
            margin-bottom: 24px;
            font-size: 17px;
            font-weight: 600;
            border: 1px solid $lightgray;
            border-radius: 4px;
            color: $white;
            background-color: red;
            cursor: pointer;
          }
        }
        .exhibition-content__price--caution {
          font-size: 12px;
          a {
            text-decoration: none;
            color: #0095ee;
          }
        }
      }
    }
  }
  .exhibition-footer__information {
    padding: 40px 0;
    font-size: 12px;
    text-align: center;
    &--lists {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      a {
        padding-right: 15px;
        text-decoration: none;
        color: black;
      }
    }
    &__logo {
      padding-top: 35px;
      img {
        width: 180px;
      }
    }
  }
}
