
* {
  box-sizing: border-box;
}


.bread-crumbs {
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  padding: 0 60px;
  position: relative;

  ul {
  max-width: 1040px;
  padding: 17px 0 16px;
  width: 100%;
  font-size: 14px;
  margin: 0 auto;
  display: flex;

    li {
      padding: 0 10px 0 0;
      float: left;

      a {
        text-decoration: none;
        color: #333;
      }

      a:hover {
        color: #3CCACE;
      }
    }
  }
}


.item-detail {
  background: #f8f8f8;

  &__main {
    padding: 40px;
    margin: 0 auto;

    .item-content {
      width: 700px;
      margin: 0 auto;
    

      .item-box {
        background-color: #fff;
        padding: 24px 40px 40px;
      
        &--name {
          text-align: center;
          font-weight: bold;
          font-size: 24px;
        }

        &__body {
          display: flex;
          justify-content: center;
          margin-top: 10px;

          img {
            object-fit: cover;
          }
          ul {
            display: flex;
            justify-content: center;
            margin-top: 10px;
          }
            
          li {
            margin: 0 10px 0 0;
          }
        }

        &__price {
          margin: 24px 0 24px;
          text-align: center;
          display: flex;
          flex-direction: column;

          .price {
            font-size: 46px;
            font-weight: bold;
            margin: 0 10px 0 0;
          }
        }

        &__buy-button {
          display: block;
          margin-top: 16px;
          background: $blue;
          font-size: 14px;
          line-height: 56px;
          text-align: center;

          a {
          display:block;
          text-decoration: none;
          font-size: 24px;
          line-height: 60px;
          font-weight: 600;
          color: #fff;

          }
        }


        &__price-detail {
          font-size: 16px;
        }

        &--text {
          line-height: 1.5;
          font-size: 18px;
          padding-top: 32px;
          margin-bottom: 30px;
        }

        &__table {
          margin-bottom: 20px;

          table {
            width: 100%;
            height: 375px;
            border-collapse: collapse;
            border: 1px solid #f8f8f8;

            tbody {
              display: table-row-group;
              vertical-align: middle;
              border-color: inherit;

              tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;

                th {
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }

                td {
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;

                  a {
                    text-decoration: none;
                    color: #3CCACE;
                  }
                }
              }
            }
          }
        }


      .optional-area {
        display: flex;
        justify-content: space-between;

        &__contents {
          margin: 10px 0 0;
          display: flex;

          .like-button {
            margin-right: auto;
            padding: 6px 10px;
            border-radius: 40px;
            color: #3CCACE;
            border: 1px solid #ffb340;

            &--link {
              text-decoration: none;
              color: #3CCACE;
            }

            &:hover {
              opacity: 0.5;
            }
          }
        }

          .optional-button a {
            padding: 6px 10px;
            display: inline-block;
            border-radius: 4px;
            color: #333;
            border: 1px solid #333;
            text-decoration: none;
          }

          a:hover {
            opacity: 0.5;
          }
        }

        .item-change {
          margin: 24px 0 24px 0;
          background: #fff;
          padding: 20px 16px 20px 16px;

                    
          &--button {
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            text-align: center;


            a {
              display:block;
              text-decoration: none;
              color: #fff;
            }
          }
          
          .btn-blue {
            background: $blue;
            border: 1px solid $blue;
            text-decoration: none;

          }

          .btn-gray {
            background: #aaa;
            border: 1px solid #aaa;
            color: #fff;
          }

          .text-center {
            text-align: center;
          }

          
        }


        // モーダルウィンドウ
        #overlay {
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.3);
          display: none;
          z-index: 1;
        }
        
        #modal-open {
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          text-align: center;
          cursor: pointer;

          a {
            text-decoration: none;
            color: #fff;
          }
        }

        #modal-window {
          width: 600px;
          height: 300px;
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff;
          z-index: 2;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        
          .modal-message-box {
            width: 100%;
            height: calc(100% - 60px);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 64px;

            div {
              color: #333;
            }

            .bold {
              font-weight: bold;
              font-size: 16px;
            }
          }
        
          #modal-close {
            width: 50%;
            height: 60px;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            width: 50%;
            text-align: center;
            line-height: 60px;

            a {
              display:block;
              text-decoration: none;
              color: #333;
            }
          }
        
          #delete-comformation {
            width: 50%;
            height: 60px;
            border-top: 1px solid #ccc;
            width: 50%;
            text-align: center;
            line-height: 60px;
            display:block;
            
            a {
              text-decoration: none;
              color: #333;
            }
          }
        }
      }

      
      .comment-box {
        padding: 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;

        .comment-body {
          width: 100%;
          min-height: 104px;
          padding: 10px;
        }

        .notice-message {
          padding: 8px;
          font-size: 14px;
          background-color: #f8f8f8;
          margin: 10px 0;
          text-align: left;
        }
        .comment-button {
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
        }
      }


      .links {
        display: flex;
        justify-content: space-between;

        a {
          text-decoration: none;
          color: #3CCACE;
        }
      }

      .related-items {

        a {
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
      }
    }
  }
}

.app-banner {
  background-image: url(/assets/bg-appBanner-pict-ce684a4c4d5fa2da43c30a3839923591af75a642a3a906ad975065771ef3d72f.jpg);
  padding: 100px 40px;
  background-size: cover;
  background-position: center;

  .inner {
    color: #fff;
    text-align: center;

    &__title {
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
    }

    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }

    &__icon {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
    }
  }
}

.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;

&__contents {
  max-width: 840px;
  margin: 0 auto;
  display: flex;

  .content {
    display: flex;
    flex-direction: column;
    width: calc(1 / 3 * 100%);
    margin: 0 2% 0 0;

    &__head {
      margin-bottom:20px;
      font-size: 16px;
      font-weight: bold;
    }

    &--link {
      color: #fff;
      text-decoration: none;
      font-size: 12px;
      line-height: 32px;
    }
  }
}

  &__logo {
    width: 100%;
    margin: 0 auto;
  }

  &__logo--small {
    font-size: 14px;
  }
}


  .purchase-button {
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;

  &--text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }

  &--icon {
    vertical-align: bottom;
    width: 60%;
  }
}