.credit-card-show-wrapper {
  height: 100vh;
  background-color: #f2f2f2;
  .verification-header {
    padding: 30px 0 ;
    text-align: center;
    img {
      width: 180px;
    }
  }
  .credit-content {
    &__item {
      max-width: 650px;
      margin: 0 auto;
      &__title {
        height: 20%;
        margin: 0 auto;
        padding: 15px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        border-width: 1px;
        border-bottom-style: solid;
        border-color: $gray204;
        background-color: $white;
      }
    }
  }
  .payment__main {
    max-width: 650px;
    padding: 40px;
    margin: 0 auto;
    background-color: $white;
    .payment__list {
      max-width: 350px;
      margin: 0 auto;
      &__content {
        padding: 0px 0 25px;
        h3 {
          font-size: 15px;
          font-weight: bold
        }
      }
    }
    .card__payment__list {
      max-width: 350px;
      margin: 0 auto;
      position: relative;
      .card__list {
        padding-bottom: 10px;
      }
      .card__number {
        font-size: 15px;
      }
      .expire__date {
        font-size: 15px;
        padding: 10px 0 24px 0;
      }
      .delete__button {
        padding: 4px 6px;
        color: #ea352d;
        border: 1px solid #ea352d;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 3px;
      }
    }
    .how__not__regist {
      padding-top: 50px;
      text-align: end;
      border-width: 1px;
      border-top-style: solid;
      border-color: $gray204;
      a {
        padding-left: 20px;
        color: $blue;
        text-decoration: none;
      }
    }
  }
  .verification-footer__information {
    padding: 40px 0;
    font-size: 12px;
    text-align: center;
    &--lists {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      a {
        padding-right: 15px;
        text-decoration: none;
        color: black;
      }
    }
    &__logo {
      padding-top: 35px;
      img {
        width: 180px;
      }
    }
  }
}

.sold-out {
  border-top: 80px solid #ea352d;
  border-right: 80px solid transparent;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  }
  .sold-out-font {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    color: #fff;
    position: absolute;
    top: 17px;
    left: 2px;
    z-index: 150;
    font-size: 1.4rem;
  }