-unless user_signed_in?
  .item-box__buy-button
    = link_to "購入画面に進む", "/users/sign_in" 
-else user_signed_in? || @item.seller_id != current_user.id
  .item-box__buy-button
    = link_to "購入画面に進む", verification_items_path
