.verification-wrapper {
  height: 100%;
  background-color: #f2f2f2;
  .verification-header {
    padding: 30px 0 ;
    text-align: center;
    img {
      width: 180px;
    }
  }
  .verification-content {
    &__item {
      max-width: 650px;
      margin: 0 auto;
      &__title {
        max-width: 650px;
        height: 20%;
        margin: 0 auto;
        padding: 30px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        border-width: 1px;
        border-bottom-style: solid;
        border-color: $gray204;
        background-color: $white;
      }
      &__body {
        &__caption--center {
          height: 30%;
          padding: 24px 16px;
          border-width: 1px;
          border-bottom-style: solid;
          border-color: $gray204;
          background-color: $white;
          display: flex;
          justify-content: center;
          img {
            width: 80px;
          }
        .verification-content__item__detail {
          &__name {
            padding: 0 0 15px 15px;
            font-size: 12px;
          }
          &__price {
            padding: 0 0 0 15px;
            font-size: 12px;
            font-weight: bold;
            span {
              padding-right: 10px;
            }
          }
        }
      }
    }
      .verification-content__item--payment {
        padding: 24px 15px 48px;
        border-width: 1px;
        border-bottom-style: solid;
        border-color: $gray204;
        background-color: $white;
        display: flex;
        justify-content: center;
          .verification-form {
              &__content__list {
                height: 20%;
                padding-bottom: 32px;
                border-bottom: 1px solid $gray204;
                display: flex;
                &__title {
                  padding-right: 50px;
                  font-size: 18px;
                  font-weight: bold;
                }
                &__price {
                  padding-left: 50px;
                  font-size: 18px;
                  font-weight: bold;
                }
              }
            .verification-form--payment {
              height: 20%;
              padding: 32px 0 25px;
              border-bottom: 1px solid $gray204;
              h3 {
                font-size: 15px;
                font-weight: bold;
              }
              a {
                font-size: 13px;
                text-decoration: none;
                color: #0099e8;
              }
            }
            .verification-form__address {
              height: 20%;
              padding: 32px 0 25px;
              border-bottom: 1px solid $gray204;
              h3 {
                font-size: 15px;
                font-weight: bold;
              }
              a {
                font-size: 13px;
                text-decoration: none;
                color: #0099e8;
              }
            }
          }
      }
    }
  }
  .verification-footer__information {
    padding: 40px 0;
    font-size: 12px;
    text-align: center;
    &--lists {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      a {
        padding-right: 15px;
        text-decoration: none;
        color: black;
      }
    }
    &__logo {
      padding-top: 35px;
      img {
        width: 180px;
      }
    }
  }
}