.sms-input-contents {
  background-color: #f5f5f5;
  &__header {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    h2 {
      padding: 32px 16px;
      font-size: 22px; 
      font-weight: bold;
      border-bottom: 1px solid #eee;
    }
  }
  &__body{
    padding: 20px 0;
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    &__sms-form {
      width: 343px;
      margin: 10px auto 0;
      text-align: left;
      margin-bottom: 20px;
      .field{
        margin-top: 24px;
        label {
          font-weight: 600;
          font-size: 18px;
        }
        .forms{
          border-radius: 4px;
          width: 343px;
          height: 50px;
          padding: 0px 16px;
          margin-top: 8px;
        }
        p{
          margin-top: 8px;
        }
      }
      .sms-submit{
        &__btn{
          border-radius: 1px;
          margin-top: 24px;
          width: 341px;
          height: 48px;
          background-color: #3CCACE;
          color: #fff;
        }
        p{
          margin-top: 8px;
        }
      }
    }
    &__tell{
      border-top: 1px solid #eee;
      padding-top: 20px;
      &__text{
        width: 343px;
        margin: 0 auto ;
        text-align: left;
        margin-bottom: 20px;
        h3{
          font-weight: 600;
          font-size: 16px;
        }
      }
      &__btn{
        border-radius: 1px;
        margin-top: 24px;
        width: 341px;
        height: 48px;
        background-color: #3CCACE;
        margin: 0 auto;
        padding-top: 14px;
        a{
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
  &__bottom{
    border-top: 1px solid #eee;
    padding: 20px 0;
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    &__text{
      width: 343px;
      margin: 0 auto ;
      text-align: left;
      margin-bottom: 20px;
      h3{
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 10px;
      }
      .link{
        text-decoration: none;
        color: #3CCACE;
      }
      &__retry{
        margin-top: 10px;
        a{
          text-decoration: none;
          color: #3CCACE;
        }
      }
    }
  }
}